---
import ThumbsUp from '../../icons/thumbs-up.astro';
import ThumbsDown from '../../icons/thumbs-down.svg';
import type { Char } from '../../types/types';

type Props = {
    age: number;
    isAlive: boolean;
};

const { age, isAlive } = Astro.props;

const size = `1.1rem` 
---

<div class="character__info">
    <ul>
        <li>Edad: {age} años</li>
        <li>
            <span>Estado:</span>
            {
                isAlive ? (
                    //<i class="fas fa-thumbs-up" />
                    <ThumbsUp height={size} width={size}/>
                    
                ) : (
                    //<i class="fas fa-thumbs-down" />
                   <ThumbsDown height={size} width={size} fill="currentColor"/>
                )
            }
        </li>
    </ul>
</div>

<style>
    <span>
</style>